.title
{
    color: #B52813;
    font-size: 30px;
    letter-spacing: 5px;
}

.subtitle
{
    font-size: 20px;
}

.input
{
    border: none;
    border-bottom: 1.5px #DE2600 solid;
    padding: 3px;
}

.submitbutton
{
    --background: #B52813;
    --background-hover: #B52813;
    --background-activated: #B52813;
    --color: #FFFFFF;
    width: 50%;
    
}