<ion-header>
  <!-- <ion-toolbar>
    <ion-title>add</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class = "content">
    <form [formGroup] = "form">
      <ion-grid>
        <ion-row>
          <ion-col size="1"></ion-col>
            <ion-col size="10">
              <ion-card>
                <ion-card-header>
                  <ion-card-title class = "title">Donor Story</ion-card-title>
                  <ion-card-subtitle>Write down your latest donor story. Enter the date accurately to let us know your latest donor time. </ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-col>
           <ion-col size="1"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="10">
              <ion-item>
                <ion-label position="floating">DD/MM/YYYY</ion-label>
                <ion-datetime 
                  class="input" 
                  display-format="DD/MM/YYYY"
                  formControlName="history_date"></ion-datetime>
              </ion-item>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="10">
              <div text-center>
                <ion-item>
                  <ion-textarea 
                    class="input" 
                    placeholder="Describe more about your donor history" 
                    maxLength="250" 
                    autoGrow = "true"
                    formControlName="history_desc"></ion-textarea>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="10">
              <br>
              <div text-center>
              <ion-button class = "submitbutton" (click)="saveHistory()" shape="round">
                Save
              </ion-button>
              </div>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </ion-grid>
    </form>
  </div>
</ion-content>
