<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-round-back" defaultHref = "/nearbypeople/list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "content">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <div text-center>
            <ion-card>
              <ion-item>
                  <div class="imageContainer">
                      <ion-avatar class = "avatar profilePic" text-center>
                          <img src="https://cdn.discordapp.com/attachments/518645544239890433/638341457413013514/Bloodherov4.png" text-center/>
                      </ion-avatar>
                  </div>
              </ion-item>
              <ion-item>
                <ion-card-header>
                  <ion-card-title>Nearby's Name</ion-card-title>
                </ion-card-header>
              </ion-item>
              <ion-item>
                <ion-label>Nearby's Address</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>nearby@mail.com</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Nearby's Contact Number</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Blood Type / Rhesus Type</ion-label>
              </ion-item>
              <ion-item>
                  <ion-button (click)="onClick()" shape="round" class="contactnowbutton">
                    <strong>Contact Now</strong>
                  </ion-button>
              </ion-item>
            </ion-card>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
