<ion-header>
  <!-- <ion-toolbar>
    <ion-title>List</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class = "content">
    <ion-grid fixed>
      <ion-row>
          <ion-col size="12"><br></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <!-- <div text-center>
              <h2 class = "title">Nearby People</h2>
          </div> -->
         
              <ion-card text-center>
                  <ion-card-header>
                    <ion-card-title class="title">Nearby People</ion-card-title>
                  <ion-card-subtitle>You're currently searching people with bloodtype/rhesus: <strong>{{userBloodType}}/{{userRhesus}}</strong></ion-card-subtitle>
                    <ion-card-subtitle>To end the current search and delete all the name in this list, click <strong>End Request</strong> below </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                      <ion-button (click)="endConfirmationAlert()" shape="round" class="endrequestbutton">
                          End Request
                        </ion-button>
                  </ion-card-content>
                </ion-card>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col size="12"><br></ion-col>
      </ion-row> -->

      <!-- routerLink = "/home/tabs/nearbypeople/found" -->
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-card class = "listcard" *ngFor="let data of dataUser.data" (click)="detailPage(data.userData.user_id)">
            <ion-item>
              <div slot="start">
                  <br><ion-card-title>{{data.userData.name}}</ion-card-title>
                  <ion-card-content>
                    {{data.distance}} KM
                  </ion-card-content>
              </div>
              <ion-icon slot="end" name="arrow-round-forward" color="secondary"></ion-icon>
            </ion-item>
          </ion-card>

          <!-- <ion-card class = "listcard" routerLink = "/home/tabs/nearbypeople/found">
              <ion-item>
                  <div slot="start">
                      <br><ion-card-title>Name 2</ion-card-title>
                      <ion-card-content>
                        150 m nearby
                      </ion-card-content>
                  </div>
                  <ion-icon slot="end" name="arrow-round-forward" color="secondary"></ion-icon>
              </ion-item>
          </ion-card>
            
          <ion-card class = "listcard" routerLink = "/home/tabs/nearbypeople/found">
              <ion-item>
                  <div slot="start">
                      <br><ion-card-title>Name 3</ion-card-title>
                      <ion-card-content>
                        200 m nearby
                      </ion-card-content>
                  </div>
                  <ion-icon slot="end" name="arrow-round-forward" color="secondary"></ion-icon>
              </ion-item>
          </ion-card>

          <ion-card class = "listcard" routerLink = "/home/tabs/nearbypeople/found">
              <ion-item>
                  <div slot="start">
                      <br><ion-card-title>Name 4</ion-card-title>
                      <ion-card-content>
                        250 m nearby
                      </ion-card-content>
                  </div>
                  <ion-icon slot="end" name="arrow-round-forward" color="secondary"></ion-icon>
              </ion-item>
          </ion-card>

          <ion-card class = "listcard" routerLink = "/home/tabs/nearbypeople/found">
            <ion-item>
                <div slot="start">
                    <br><ion-card-title>Name 4</ion-card-title>
                    <ion-card-content>
                      250 m nearby
                    </ion-card-content>
                </div>
                <ion-icon slot="end" name="arrow-round-forward" color="secondary"></ion-icon>
            </ion-item>
        </ion-card>

        <ion-card class = "listcard" routerLink = "/home/tabs/nearbypeople/found">
          <ion-item>
              <div slot="start">
                  <br><ion-card-title>Name 4</ion-card-title>
                  <ion-card-content>
                    250 m nearby
                  </ion-card-content>
              </div>
              <ion-icon slot="end" name="arrow-round-forward" color="secondary"></ion-icon>
          </ion-item>
      </ion-card>

      <ion-card class = "listcard" routerLink = "/home/tabs/nearbypeople/found">
        <ion-item>
            <div slot="start">
                <br><ion-card-title>Name 4</ion-card-title>
                <ion-card-content>
                  250 m nearby
                </ion-card-content>
            </div>
            <ion-icon slot="end" name="arrow-round-forward" color="secondary"></ion-icon>
        </ion-item>
    </ion-card> -->

          <!-- <div text-center>
            <br>
              <ion-button (click)="endConfirmationAlert()" shape="round" class="endrequestbutton">
                  End Request
                </ion-button>
          </div> -->

        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
