.listcard
{
    padding: 5px;
}

.title
{
    color: #B52813;
    font-size: 30px;
    letter-spacing: 5px;
}

.endrequestbutton
{
    --background: #FFB000;
    --background-hover: #FFB000;
    --background-activated: #FFB000;
    --color: #000000;
    width: 50%; 
    font-size: 13px;
}

.content
{
    overflow: auto;
}