<ion-header>
  <!-- <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class="content">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <div text-center>
            <ion-card>
              <ion-card-header>
                <ion-card-title style="text-align: left;">About</ion-card-title>
                <ion-card-subtitle style="text-align: left;">BloodHero & Nixerson</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <p style="text-align: left;">
                    Hi! Thank you for using BloodHero!<br>
                    This application is <strong>our assignment for the final project of Cross-Platform Programming class</strong>. Through BloodHero, we're hoping that people who are searching for blood can be connected easily and quickly. A quick action can truly save someone's life.
                </p>
                <br>
                <p style="text-align: left;">
                    <em>Also, who's Nixerson and how can you come up with this name?</em><br>
                    Nixerson is <strong>Lionissa R.D., Octavian Axel P., and Vincent A.N. </strong> Our team name is fully credited to Vincent - he combined a part of our name together: Lio(ni)ssa, A(xe)l, and Vincent Ande(rson). 
                </p>
                <br>
                <p style="text-align: left;">
                    I take care of the front-end of BloodHero with Axel who also helps with making the additional assets. We take care BloodHero 100% to be easy as possible to be used and pretty. Vincent takes care of the back-end side and keeping BloodHero clean and safe. <em>You definitely don't want bad blood to enter your body...</em>
                </p>
                <br>
                <p style="text-align: left;">
                    We also personally give <strong>our biggest thank to Mr. Alexander Waworuntu</strong>, our class' lecturer as well as the one who are hyped for BloodHero as much as we do and continuously giving us advices for BloodHero. Thank you a lot, sir!
                </p>
                <br>
                <p style="text-align: left;">
                    Thank you for reading this note so far. <br>
                    We hope BloodHero can assist you to the maximum.
                </p>
                <br>
                <br>
                <p style="text-align: right;">
                    from, <em>(Ni)xerson.</em>
                </p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <div text-center>
            <ion-button 
              routerLink="/" 
              class="loginbutton"
              shape="round">
              <ion-icon slot="start" name="arrow-round-back"></ion-icon>
              Return to BloodHero
            </ion-button>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
