.content
{
    background-color: #770C12;
    height: 100%;
    width: 100%;
    overflow: auto;
}

ion-card
{
    background-color: #ffffff;
    ion-card-content
    {
        color: #000000;
        font-size: 10px;
    }
}

.loginbutton
{
    --background: #ffb000;
    --background-hover: #ffb000;
    --background-activated: #ffb000;
    --color: #000000;
    width: 50%;
}