<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-round-back" defaultHref = "/home/tabs/nearbypeople/list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "content">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
            <!-- <br>
            <div class="imageContainer">
              <ion-avatar class = "avatar" text-center>
                  <img src="https://cdn.discordapp.com/attachments/518645544239890433/638341457413013514/Bloodherov4.png" text-center/>
                </ion-avatar>
            </div>
            <br> -->
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <!-- <div text-center>
            <h2><strong>Nearby's Full Name</strong></h2>
          </div> -->
          <div text-center *ngIf="dataUser">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>{{dataUser.name}}</ion-card-title>
                </ion-card-header>
                <ion-item>
                    <div class="imageContainer">
                        <ion-avatar class = "avatar profilePic" text-center>
                            <img src="https://cdn.discordapp.com/attachments/518645544239890433/638341457413013514/Bloodherov4.png" text-center/>
                        </ion-avatar>
                    </div>
                </ion-item>
                <ion-item>
                  <ion-icon slot="start" name="home"></ion-icon>
                  <ion-label>{{dataUser.address}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon slot="start" name="mail"></ion-icon>
                  <ion-label>{{dataUser.email}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon slot="start" name="call"></ion-icon>
                  <ion-label>{{dataUser.phone_number}}</ion-label>
                </ion-item>
                <ion-item>
                  <ion-icon slot="start" name="heart-empty"></ion-icon>
                  <ion-label>{{dataUser.blood_type}} / {{dataUser.rhesus}} Type</ion-label>
                </ion-item>
              </ion-card>
            </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <div text-center>
              <ion-button (click)="callActionSheet()" shape="round" class="contactnowbutton">
                  <strong>Contact Now</strong>
              </ion-button>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <div text-center>
            <h3>Nearby's Address</h3>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <div text-center>
            <h3>nearby@mail.com</h3>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <div text-center>
            <h3>Nearby's Address</h3>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <div text-center>
            <h3>Nearby's Contact Number</h3>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <div text-center>
            <h3>Nearby's Blood Type <strong>/</strong> Nearby's Rhesus Type</h3>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <div text-center>
            <ion-button (click)="onClick()" shape="round" class="contactnowbutton">
              <strong>Contact Now</strong>
            </ion-button>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row> -->
    </ion-grid>
  </div>
</ion-content>
