.listcard
{
    padding: 5px;
}

.title
{
    color: #B52813;
    font-size: 30px;
    letter-spacing: 5px;
}

ion-toolbar
{
    --background: transparent;
    --ion-color-base: transparent !important;
}
