<ion-header no-border>
  <ion-toolbar [class.show-background]="showToolbar">
    <ion-buttons slot="start">
      <ion-back-button icon = "arrow-round-back" defaultHref = "/home/tabs/nearbypeople"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class="content">
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12"><br></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col size="10">
              <ion-card text-center>
                  <ion-card-header>
                    <ion-card-title class="title">Need Help</ion-card-title>
                    <ion-card-subtitle>This is the list of people who needs your help with bloodtype/rhesus: <strong>bloodtype/rhesus</strong></ion-card-subtitle>
                  </ion-card-header>
              </ion-card>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12"><br></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col size="10">
            <!-- routerLink = "" -->
            <ion-card class = "listcard" *ngFor="let notifications of notif" (click)="needProfile(notifications.user_id)" >
              <ion-item>
                <div slot="start">
                <br><ion-card-title>{{notifications.name}}</ion-card-title>
                    <ion-card-content>
                      {{notifications.distance}} KM
                    </ion-card-content>
                </div>
                <ion-icon slot="end" name="arrow-round-forward" color ="secondary"></ion-icon>
              </ion-item>
            </ion-card>
  

          </ion-col>

          <ion-col size="1"></ion-col>
        </ion-row>
    </ion-grid>
  </div>

</ion-content>
