<ion-header>
  <!-- <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class = "container">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
            <br>
            <div class="imageContainer">
              <ion-avatar class = "avatar" text-center>
                  <img src="https://cdn.discordapp.com/attachments/518645544239890433/638341457413013514/Bloodherov4.png" text-center/>
                </ion-avatar>
            </div>
            <br>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <!-- tag "value" should be added since this form is meant to be changed on-the-go -->
          <ion-input class = "input" type="text" placeholder="Full Name" value="Jane Doe" required></ion-input>
          <ion-input class = "input" type="text" placeholder="Address" 
          value="Doe's Street N.44" required></ion-input>
          <ion-input class = "input" type="email" placeholder="E-mail" 
          value="msjanedoe@mail.com" required></ion-input>
          <ion-input class = "input" type="text" placeholder="Phone Number" value="019921223" required></ion-input>
          <ion-row>
            <ion-col size="6">
              <ion-input class = "input" type="text" placeholder="Blood Type" value = "AB" disabled></ion-input>
            </ion-col>
            <ion-col size="6">
              <ion-input class = "input" type="text" placeholder="Rhesus Type" value="RH-" disabled ></ion-input>
            </ion-col>
          </ion-row>
          <ion-input class="input" type="text" placeholder="Date of Last Donor" value="12/07/2019" disabled></ion-input>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <div text-center>
            <br>
            <ion-button class="profilebutton" (click)="onClick()" shape="round" expand="full">
              Save Changes
            </ion-button>
          </div>
        </ion-col>
        <ion-col size="4">
          <div text-center>
            <br>
            <ion-button class="profilebutton" (click)="onClick()" shape="round" routerLink="/profile/change" expand="full" >
              Change Password
            </ion-button>
          </div>
        </ion-col>
        <ion-col size="4">
          <div text-center>
            <br>
            <ion-button class="profilebutton" (click)="onClick()" shape="round" routerLink="/" expand="full">
              Logout
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
