.profilebutton
{
    --background: #B52813;
    --background-hover: #B52813;
    --background-activated: #B52813;
    --color: #FFFFFF;
}

.input
{
    border: none;
    border-bottom: 1.5px #DE2600 solid;
    margin: 5px;
}

.imageContainer{
    width: 100%;
    .avatar
    {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        --border-radius: 0px;
        width: 100% !important;
        height: 100% !important;
        max-width: 150px;
        max-height: 150px;
    }
}