<ion-header>
  <!-- <ion-toolbar>
    <ion-title>add</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class = "content">
    <ion-grid>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <div text-center>
              <h2 class = "title">Donor Story</h2>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-item>
            <ion-label position="floating">DD/MM/YYYY</ion-label>
            <ion-datetime class="input" display-format="DD/MM/YYYY"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <div text-center>
            <ion-item>
                <ion-textarea class="input" placeholder="Describe more about your donor history" maxLength="250" autoGrow = "true"></ion-textarea>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <br>
          <div text-center>
            <ion-button class = "submitbutton" (click)="onClick()" shape="round">
              Save
            </ion-button>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
