<ion-header>
  <!-- <ion-toolbar>
    <ion-title>Change Password</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class = "content">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <div text-center>
            <h2 class = "title">Change Password</h2>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <div text-center>
            <ion-input class = "input" type="email" placeholder="Enter your E-mail" minLength="1" required></ion-input>
            <ion-input class = "input" type="password" placeholder="Enter your Password" minLength="6" required></ion-input>
            <ion-input class = "input" type="password" placeholder="Enter your Password Again" minLength="6" required></ion-input>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <div text-center>
            <br>
            <ion-button class = "changepasswordbutton" (click)="onClick()" shape="round" routerLink="/profile" expand="full">
              Change Password
            </ion-button>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <div text-center>
            <br>
            <ion-label><strong>Only click this button if you want to delete your account</strong></ion-label><br>
            <ion-button class = "deleteaccountbutton" (click)="onClick()" shape="round" routerLink="/" expand="full">
              Delete Account
            </ion-button>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
