<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/donorhistory/add">
          <ion-icon slot="start" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "content">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12"><br></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <div text-center>
              <h2 class = "title">Donor History</h2>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-card class = "listcard">
            <ion-item>
              <div slot="start">
                <br><ion-card-title>23/12/2018</ion-card-title>
                <ion-card-content>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quibusdam, corrupti sequi facere esse repellendus ut officiis, molestias enim iusto tempora aut quis maiores veniam voluptate! Veniam itaque nihil ab?
                </ion-card-content>
              </div>
            </ion-item>
          </ion-card>
          <ion-card>
            <ion-item class = "listcard">
             <div slot="start" >
               <br><ion-card-title>12/07/2018</ion-card-title>
               <ion-card-content>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui quibusdam, corrupti sequi facere esse repellendus ut officiis, molestias enim iusto tempora aut quis maiores veniam voluptate! Veniam itaque nihil ab?
               </ion-card-content>
             </div>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
