<ion-header no-border>
  <ion-toolbar [class.show-background]="showToolbar">
    <ion-buttons slot="end">
      <ion-button routerLink="/home/tabs/donorhistory/add">
          <ion-icon slot="start" name="add" color = "secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <div class = "content">
    <ion-grid fixed>
      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <!-- <ion-row>
        <ion-col size="12"><br></ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <div text-center>
              <h2 class = "title">Donor History</h2>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-card class = "listcard" *ngFor = "let historiesx of histories">
            <ion-item>
              <div slot="start">
                <br><ion-card-title>{{ historiesx.donor_date | date: 'longDate' }}</ion-card-title>
                <ion-card-content>
                  {{ historiesx.description }}
                </ion-card-content>
              </div>
            </ion-item>
          </ion-card>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
