<ion-header>
  <!-- <ion-toolbar>
    <ion-title>signup1</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class = "content">
    <form [formGroup]="form">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="1"><br></ion-col>
        <ion-col size="10">
          <br>
          <div class="imageContainer">
            <ion-button (click)="selectImage()" class = "uploadPicture">
              <ion-icon name="camera"></ion-icon>
            </ion-button>
            <ion-avatar class = "avatar profilePic" text-center>
              <div *ngIf = "!profPic" >
                <img src="https://cdn.discordapp.com/attachments/518645544239890433/638341457413013514/Bloodherov4.png" text-center/>
              </div>
              <div *ngIf = "profPic">
                <img [src]= "profPic" text-center>
              </div>
            </ion-avatar>
          </div>
          <br>
        </ion-col>
        <ion-col size="1"><br></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
           

            <!--  
              design note (for showing 'mistake'): 
              - make an icon (like warning icon) appear at the inside end of the input box
              - change the border color
              - making a popup that define the mistake 
            -->

            <ion-input 
              class = "input" 
              type="text" 
              placeholder="Full Name" 
              autocomplete 
              autocorrect 
              formControlName="fullName" 
              [ngClass] = "{'showFalse': !form.get('fullName').valid && form.get('fullName').touched}"></ion-input>
            <div text-center>
              <em>
                  <div *ngIf = "!form.get('fullName').valid && form.get('fullName').touched">
                      <ion-label color="tertiary">Full Name can't be empty</ion-label>
                  </div>
              </em>
            </div>
           
            <ion-input 
              class = "input" 
              type="text" 
              placeholder="Address" 
              formControlName="address" 
              [ngClass] = "{'showFalse': !form.get('address').valid && form.get('address').touched}"></ion-input>
            <div text-center>
              <em>
                  <div *ngIf = "!form.get('address').valid && form.get('address').touched">
                      <ion-label color="tertiary">Address can't be empty</ion-label>
                  </div>
              </em>
            </div>
            
            <ion-input 
              class = "input" 
              type="email" 
              placeholder="E-mail" 
              formControlName="email"
              [ngClass]="{'showFalse': !form.get('email').valid && form.get('email').touched}"></ion-input>
            <div text-center>
              <em>
                  <div *ngIf = "!form.get('email').valid && form.get('email').touched">
                      <ion-label color="tertiary">Email should be valid</ion-label>
                    </div>
              </em>
            </div>
            
            <ion-input 
              class = "input" 
              type="text" 
              placeholder="Phone Number" 
              formControlName="phoneNumber"
              [ngClass]="{'showFalse': !form.get('phoneNumber').valid && form.get('phoneNumber').touched}"></ion-input>
            <div text-center>
              <em>
                  <div *ngIf = "!form.get('phoneNumber').valid && form.get('phoneNumber').touched">
                      <ion-label color="tertiary">Phone Number can't be empty</ion-label>
                    </div>
              </em>
            </div>
            
            <ion-input 
              class = "input" 
              type="password" 
              placeholder="Password" 
              formControlName="password"
              [ngClass]="{'showFalse': !form.get('password').valid && form.get('password').touched}"></ion-input>
            <div text-center>
              <em>
                  <div *ngIf = "!form.get('password').valid && form.get('password').touched">
                      <ion-label color="tertiary">Password can't be empty</ion-label>
                    </div>
              </em>
            </div>
           
            <ion-input 
              class = "input" 
              type="password" 
              placeholder="Re-input Password" formControlName="rePassword"
              [ngClass]="{'showFalse': !form.get('rePassword').valid && form.get('rePassword').touched}"></ion-input>
            <div text-center>
              <em>
                  <div *ngIf = "!form.get('rePassword').valid && form.get('rePassword').touched">
                      <ion-label color="tertiary">Re-Password can't be empty</ion-label>
                  </div>
              </em>
            </div>

            <ion-row>
              <ion-col size="1"></ion-col>
              <ion-col size="5">
              <ion-item [class.showFalse]="!form.controls.bloodType.valid && form.controls.bloodType.touched">
                <ion-label>Blood Type</ion-label>
                <ion-select 
                  name="blood-type" 
                  formControlName="bloodType">
                  
                  <ion-select-option value="A">A</ion-select-option>
                  <ion-select-option value="B">B</ion-select-option>
                  <ion-select-option value="O">O</ion-select-option>
                  <ion-select-option value="AB">AB</ion-select-option>
                </ion-select>
              </ion-item>
              <!-- <div *ngIf = "!form.get('bloodType).valid">
                  <ion-label>Blood Type can't be empty</ion-label>
              </div> -->

              </ion-col>
              <ion-col size="5">
              <ion-item [class.showFalse]="!form.controls.rhesus.valid && form.controls.rhesus.touched">
                <ion-label>Rhesus Type</ion-label>
                <ion-select 
                  name="rhesus-type" 
                  formControlName="rhesus">
                  
                  <ion-select-option value="Rh_positive">Rh+</ion-select-option>
                  <ion-select-option value="Rh_negative">Rh-</ion-select-option>
                </ion-select>
              </ion-item>
              <!-- <div *ngIf = "!form.get('rhesus').valid && form.get('rhesus').touched">
                  <ion-label>Rhesus can't be empty</ion-label>
              </div> -->
              </ion-col>
              <ion-col size="1"></ion-col>
            </ion-row>
            <br>
            <!-- 
              design note:
               to make the button remains inactive until all the required fields are filled
             -->
            <div text-center>
              <div *ngIf="status_err == 1">
                <ion-label>Your password in Password and Re-enter Password should be the same!</ion-label>
              </div>
              
              <div *ngIf = "!form.get('fullName').valid && !form.get('address').valid && !form.get('email').valid && !form.get('phoneNumber').valid && !form.get('password').valid && !form.get('rePassword').valid">
                <ion-label color="tertiary">Your form can't be empty</ion-label>
              </div>
              
              <ion-button (click)="onSignUp()" class = "loginbutton" shape="round" [disabled] = "!form.get('password').valid && !form.get('rePassword').valid">
                Sign Up
              </ion-button>
            </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <div text-center>
            <p>
                Have an account? <a class="registerlink" routerLink="/login">Login Now</a>
            </p>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </form>
  </div>
 
</ion-content>
