.content
{
    background-color: #770C12;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.input
{
    background-color: white;
    margin: 5px;
}

.showFalse
{
    background-color: white;
    margin: 5px;
    border: solid 5.5px #dd241f;
}

.loginbutton
{
    --background: #ffb000;
    --background-hover: #ffb000;
    --background-activated: #ffb000;
    --color: #000000;
    width: 50%; 
}

.imageContainer{
    width: 100%;
    .avatar
    {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        --border-radius: 0px;
        width: 100% !important;
        height: 100% !important;
        max-width: 150px;
        max-height: 150px;
    }
}

.registerlink
{
    color: #ffb000;
    text-decoration: none;
}

p
{
    color: #FFFFFF;
}

ion-item
{
    --background: #FFFFFF;
    --background-hover: #FFFFFF;
    --background-activated: #FFFFFF; 
}

.uploadPicture
{
    --background: #ffb000;
    --background-hover: #ffb000;
    --background-activated: #ffb000;
    --ripple-color: #FFF3E7;
    --color: #000000;
    --border-radius: 50%;
    display: block;
    height: 50px;
    width: 50px;
    z-index: 2;
    position: absolute;
    right: 30%;
    bottom: 8%;
    margin: auto;
}