<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/nearbypeople/donate">
        <ion-icon slot="start" name="pulse"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "content">
    <ion-grid fixed>
        <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col size="6"></ion-col>
            <ion-col size="3"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="10">
              <div text-center>
                <ion-label>What type of blood you are looking for?</ion-label><br>
                <form [formGroup]="bloodForm">
                  <ion-item>
                    <ion-select formControlName = "profile" multiple="false" placeholder="Blood Type">
                      <ion-select-option value="same">The same with my profile</ion-select-option>
                      <ion-select-option value="different">Different from my profile</ion-select-option>
                    </ion-select>
                  </ion-item>
 
                  <div *ngIf= "profile === 'different'">
                      <ion-item>
                          <ion-select  formControlName = "type" multiple="false" placeholder="Searched Blood Type">
                            <ion-select-option value="A">A</ion-select-option>
                            <ion-select-option value="B">B</ion-select-option>
                            <ion-select-option value="O">O</ion-select-option>
                            <ion-select-option value="AB">AB</ion-select-option>
                          </ion-select>
                        </ion-item>
                        <br>
                  </div>
                </form>
                <ion-label>Press this button to search people near you</ion-label><br>
                <ion-button (click)="getLoc()" shape="round" class="searchbutton" >
                  SEARCH
                </ion-button>
              </div>
             
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
    </ion-grid>
  </div>
</ion-content>
