ion-toolbar
{
    --ion-background-color: transparent;
}

.searchbutton
{
    --background: #B52813;
    --background-hover: #B52813;
    --background-activated: #B52813;
    --color: #FFFFFF;
    width: 60%;
    height: 60px;
    font-size: 30px;
    letter-spacing: 5px;
}

ion-select
{
    max-width: 100% !important;
    width: 100%;
}