<ion-header>
  <!-- <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class = "content">
    <form [formGroup] = "form">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <br><br><br>
          <div class="imageContainer">
            <ion-avatar class = "avatar" text-center>
              <img src="https://cdn.discordapp.com/attachments/518645544239890433/638341457413013514/Bloodherov4.png" text-center/>
            </ion-avatar>
          </div>
          <br><br><br>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
          <ion-list style="border-radius: 5px;" [ngClass]="{'showFalse': !form.get('email').valid && form.get('email').touched}">
            <ion-item>
              <ion-label position="floating">E-mail</ion-label>
                <ion-input
                  class = "input"
                  type = "email"
                  placeholder="E-mail"
                  formControlName="email"
                ></ion-input>
                <ion-icon *ngIf="!form.get('email').valid && form.get('email').touched" name="close-circle-outline" slot="end" color="warning"></ion-icon>
                <ion-icon *ngIf="form.get('email').valid && form.get('email').touched" name="checkmark-circle-outline" slot="end" color="success"></ion-icon>
            </ion-item>
              <!-- <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
                <ion-label style="font-size: 12px;"><em>Enter a valid email</em></ion-label>
              </ion-item> -->
          </ion-list>
  
          <br>

          <ion-list style="border-radius: 5px;" [ngClass]="{'showFalse': !form.get('password').valid && form.get('password').touched}">
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input 
                  class = "input"
                  type="password"
                  placeholder="Password"
                  formControlName="password"
              ></ion-input>
              <ion-icon *ngIf="!form.get('password').valid && form.get('password').touched" name="close-circle-outline" slot="end" color="warning"></ion-icon>
              <ion-icon *ngIf="form.get('password').valid && form.get('password').touched" name="checkmark-circle-outline" slot="end" color="success"></ion-icon>
              </ion-item>
          </ion-list>
            
            <br>
            <div text-center>
                <p>Don't have any account? <a class = "registerlink" routerLink="/signin">Register now</a></p>
            </div>
            <br>

            <!-- 
              design note :
              to make the button remains inactive until all the required fields are filled
             -->
            
            <div text-center>
                <ion-button class = "loginbutton" shape="round" (click)="onLogin()" type="submit" [disabled]="!form.get('email').valid && !form.get('password').valid">
                    Login
                </ion-button>
            </div>

            <br>
            <br>
            <div text-center>
              <p><a class="registerlink" routerLink="/about">About BloodHero & Nixerson</a></p>
            </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </form>
  </div>
 
</ion-content>
