.content
{
    background-color: #770C12;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.input
{
    background-color: #FFFFFF;
    margin: 5px;
}

.loginbutton
{
    --background: #ffb000;
    --background-hover: #ffb000;
    --background-activated: #ffb000;
    --color: #000000;
    width: 50%;
}

p
{
    color: #ffffff;
}

.registerlink
{
    color: #ffb000;
    text-decoration: none;
}

.imageContainer{
    width: 100%;
    .avatar
    {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        --border-radius: 0px;
        width: 100% !important;
        height: 100% !important;
        max-width: 150px;
        max-height: 150px;
    }
}

.showFalse
{
    border: solid 5.5px #dd241f ;
    border-radius: 5px;
}