<ion-header no-border>
  <ion-toolbar>
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "content">
    <ion-grid fixed>
      <ion-row>
          <ion-col size="12"><br></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"></ion-col>
        <ion-col size="6">
          <div text-center>
              <h2 class = "title">Nearby People</h2>
          </div>
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12"><br></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"></ion-col>
        <ion-col size="6">
          <ion-card class = "listcard" routerLink = "/nearbypeople/found">
            <ion-item>
              <div slot="start">
                  <br><ion-card-title>Name 1</ion-card-title>
                  <ion-card-content>
                    100 m nearby
                  </ion-card-content>
              </div>
              <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
            </ion-item>
          </ion-card>

          <ion-card class = "listcard" routerLink = "/nearbypeople/found">
              <ion-item>
                  <div slot="start">
                      <br><ion-card-title>Name 2</ion-card-title>
                      <ion-card-content>
                        150 m nearby
                      </ion-card-content>
                  </div>
                  <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
              </ion-item>
          </ion-card>
            
          <ion-card class = "listcard" routerLink = "/nearbypeople/found">
              <ion-item>
                  <div slot="start">
                      <br><ion-card-title>Name 3</ion-card-title>
                      <ion-card-content>
                        200 m nearby
                      </ion-card-content>
                  </div>
                  <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
              </ion-item>
          </ion-card>

          <ion-card class = "listcard" routerLink = "/nearbypeople/found">
              <ion-item>
                  <div slot="start">
                      <br><ion-card-title>Name 4</ion-card-title>
                      <ion-card-content>
                        250 m nearby
                      </ion-card-content>
                  </div>
                  <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
              </ion-item>
          </ion-card>

          <div text-center>
            <br>
              <ion-button (click)="onClick()" shape="round" class="endrequestbutton">
                  End Request
                </ion-button>
          </div>

        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
