.listcard
{
    padding: 5px;
}

.title
{
    color: #B52813;
    font-size: 30px;
    letter-spacing: 5px;
}

.endrequestbutton
{
    --background: #FFC02A;
    --background-hover: #FFC02A;
    --background-activated: #FFC02A;
    --color: #000000;
    width: 50%; 
}