.title
{
    color: #B52813;
    font-size: 30px;
    letter-spacing: 5px;
}

.input
{
    border-bottom: 1.5px #DE2600 solid;
    margin: 5px;
}

.showFalse
{
    border: 2.5px #DE2600 solid;
}

.changepasswordbutton
{
    --background: #B52813;
    --background-hover: #B52813;
    --background-activated: #B52813;
    --color: #FFFFFF;
}

.deleteaccountbutton
{
    --background: #FFB000;
    --background-hover: #FFB000;
    --background-activated: #FFB000;
    --color: #000000;
}