<ion-header>
</ion-header>

<ion-content>
  <div class = "content">
    <form [formGroup] = "form">
        <ion-grid fixed>
            <ion-row>
              <ion-col size="1"></ion-col>
              <ion-col size="10">
                <div text-center>
                  <h2 class = "title">Change Password</h2>
                </div>
              </ion-col>
              <ion-col size="1"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="1"></ion-col>
              <ion-col size="10">
                <div text-center>
                  <ion-input 
                    class = "input" 
                    type="password" 
                    placeholder="Enter your Current Password" 
                    minLength="1" 
                    formControlName="oldPassword" 
                    required
                    [ngClass] = "{'showFalse': !form.get('oldPassword').valid && form.get('oldPassword').touched}"
                    ></ion-input>
                  <div>
                    <em>
                      <div *ngIf = "!form.get('oldPassword').valid && form.get('oldPassword').touched">
                        <ion-label color="tertiary">Your current password can't be empty</ion-label>
                      </div>
                    </em>
                  </div>

                  <ion-input 
                    class = "input" 
                    type="password" 
                    placeholder="Enter your New Password" 
                    minLength="6" 
                    formControlName="password" 
                    required
                    [ngClass] = "{'showFalse': !form.get('password').valid && form.get('password').touched}"></ion-input>
                  <div>
                    <em>
                      <div *ngIf = "!form.get('password').valid && form.get('password').touched">
                        <ion-label color="tertiary">Password can't be empty</ion-label>
                      </div>
                    </em>
                  </div>

                  <ion-input 
                    class = "input" 
                    type="password" 
                    placeholder="Enter your Password Again" formControlName="rePassword" 
                    minLength="6" 
                    required
                    [ngClass] = "{'showFalse': !form.get('rePassword').valid && form.get('rePassword').touched}"></ion-input>
                  <div>
                    <em>
                      <div *ngIf = "!form.get('rePassword').valid && form.get('rePassword').touched">
                        <ion-label color="tertiary">Re-Password can't be empty</ion-label>
                      </div>
                    </em>
                  </div>
                </div>
              </ion-col>
              <ion-col size="1"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="1"></ion-col>
              <ion-col size="10">
                <div text-center>
                  <br>
                  <ion-button 
                    class = "changepasswordbutton" 
                    (click)="changeConfirmation()" 
                    shape="round" 
                    expand="full">
                    Change Password
                  </ion-button>
                </div>
              </ion-col>
              <ion-col size="1"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="1"></ion-col>
              <ion-col size="10">
                <div text-center>
                  <br>
                  <ion-label><strong>Only click this button if you want to delete your account</strong></ion-label><br>
                  <ion-button 
                    class = "deleteaccountbutton" 
                    (click)="deleteAccountConfirmation()" 
                    shape="round" 
                    expand="full">
                    Delete Account
                  </ion-button>
                </div>
              </ion-col>
              <ion-col size="1"></ion-col>
            </ion-row>
          </ion-grid>
    </form>
  </div>
</ion-content>
