.profilebutton
{
    --background: #B52813;
    --background-hover: #B52813;
    --background-activated: #B52813;
    --color: #FFFFFF;
}

.changepassword
{
    font-size: 12px;
}

.input
{
    border-bottom: 1.5px #DE2600 solid;
    margin: 5px;
}

.showFalse
{
    border: 2.5px #DE2600 solid;
}

.imageContainer{
    width: 100%;
    .avatar
    {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        --border-radius: 0px;
        width: 100% !important;
        height: 100% !important;
        max-width: 150px;
        max-height: 150px;
    }
}

.uploadPicture
{
    --background: #FFB000;
    --background-hover: #FFB000;
    --background-activated: #FFB000;
    --color: #000000;
    --border-radius: 50%;
    --ripple-color: #FFF3E7;
    display: block;
    height: 50px;
    width: 50px;
    z-index: 2;
    position: absolute;
    right: 30%;
    bottom: 8%;
    margin: auto;
}