<ion-header>
  <!-- <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class = "container">
    <form [formGroup]="form">
        <ion-grid fixed>
            <ion-row>
              <ion-col size="1"></ion-col>
              <ion-col size="10">
                  <br>
                  <div class="imageContainer">
                    <ion-button (click)="selectImage()" class = "uploadPicture">
                      <ion-icon name="camera"></ion-icon>
                    </ion-button>
                    <ion-avatar class = "avatar" text-center>
                      <img src="https://cdn.discordapp.com/attachments/518645544239890433/638341457413013514/Bloodherov4.png" text-center/>
                    </ion-avatar>
                  </div>
                  <br>
              </ion-col>
              <ion-col size="1"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="1"></ion-col>
              <ion-col size="10">
                <!-- tag "value" should be added since this form is meant to be changed on-the-go -->
                <ion-input 
                  class = "input" 
                  type="text" 
                  placeholder="Full Name" 
                  value="{{ display_name }}" 
                  formControlName="fullName" 
                  required
                  [ngClass] = "{'showFalse': !form.get('fullName').valid && form.get('fullName').dirty}"></ion-input>
                <div text-center>
                  <em>
                    <div *ngIf="!form.get('fullName').valid && form.get('fullName').dirty">
                      <ion-label color="tertiary">Full Name can't be empty</ion-label>
                    </div>
                  </em>
                </div>

                <ion-input 
                  class = "input" 
                  type="text" 
                  placeholder="Address" 
                  value="{{display_address}}" 
                  formControlName="address" 
                  required
                  [ngClass] = "{'showFalse': !form.get('address').valid && form.get('address').dirty}"
                  ></ion-input>
                <div text-center>
                  <em>
                    <div *ngIf="!form.get('address').valid && form.get('address').dirty">
                      <ion-label color="tertiary">Address can't be empty</ion-label>
                    </div>
                  </em>
                </div>

                <ion-input 
                  class = "input" 
                  type="email" 
                  placeholder="Email" 
                  value="{{ display_email }}" 
                  disabled></ion-input>
                <!-- <div text-center>
                  <em>
                    <div *ngIf="!form.get('email').valid && form.get('email').dirty">
                      <ion-label color="tertiary">Email should be valid</ion-label>
                    </div>
                  </em>
                </div> -->

                <ion-input 
                  class = "input" 
                  type="text" 
                  placeholder="Phone Number" 
                  value="{{ display_phone_number }}" 
                  formControlName="phoneNumber" 
                  required
                  [ngClass] = "{'showFalse': !form.get('phoneNumber').valid && form.get('phoneNumber').dirty}"></ion-input>
                <div text-center>
                  <em>
                    <div *ngIf="!form.get('phoneNumber').valid && form.get('phoneNumber').dirty">
                      <ion-label color="tertiary">Phone Number can't be empty</ion-label>
                    </div>
                  </em>
                </div>

                <ion-row>
                  <ion-col size="6">
                    <ion-input class = "input" type="text" placeholder="Blood Type" value = "{{display_blood_type}}" disabled></ion-input>
                  </ion-col>
                  <ion-col size="6">
                    <ion-input class = "input" type="text" placeholder="Rhesus Type" value="{{display_rhesus}}" disabled ></ion-input>
                  </ion-col>
                </ion-row>
                <!-- <ion-input class="input" type="text" placeholder="Date of Last Donor" value="12/07/2019" disabled></ion-input> -->
              </ion-col>
              <ion-col size="1"></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="1"></ion-col>
              <ion-col size="10">
                  <div text-center>
                      <br>
                      <ion-button 
                        class="profilebutton" 
                        (click)="changeProfile()" 
                        shape="round" 
                        expand="full">
                        Save Changes
                      </ion-button>
                      <br>
                      <ion-button 
                        class="profilebutton changepassword"  
                        shape="round" 
                        routerLink="/home/tabs/profile/change" 
                        expand="full">
                        Change Password
                      </ion-button>
                      <br>
                      <ion-button 
                        class="profilebutton" 
                        (click)="onLogout()" 
                        shape="round" 
                        routerLink="/" 
                        expand="full">
                        Logout
                      </ion-button>
                  </div> 
              </ion-col>
              <ion-col size="1"></ion-col>
            </ion-row>
          </ion-grid>
    </form>
  </div>
</ion-content>
