.content
{
    background-color: #770C12;
    height: 100%;
    width: 100%;
}

.input
{
    background-color: white;
    margin: 5px;
}

.loginbutton
{
    --background: #FFB000;
    --background-hover: #FFB000;
    --background-activated: #FFB000;
    --color: #000000;
    width: 50%;
}

.question
{
    color: #FFFFFF;
}

ion-item
{
    --background: #FFFFFF;
    --background-hover: #FFFFFF;
    --background-activated: #FFFFFF;
    --text-align: center; 
}

ion-select 
{
    max-width: 100% !important;
    width: 100%;
}

.imageContainer{
    width: 100%;
    .avatar
    {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        --border-radius: 0px;
        width: 100% !important;
        height: 100% !important;
        max-width: 150px;
        max-height: 150px;
    }
}