<ion-header>
  <!-- <ion-toolbar>
    <ion-title>signup2</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class = "content">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
            <br><br>
            <div class="imageContainer">
              <ion-avatar class = "avatar" text-center>
                <img src="https://cdn.discordapp.com/attachments/518645544239890433/638341457413013514/Bloodherov4.png" text-center/>
              </ion-avatar>
            </div>
            <br><br>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="10">
            <div text-center>
                <ion-label class = "question">What's the type of your blood?</ion-label>
            </div>
            <ion-item>
              <ion-select [ngModel]="'A'" name="blood-type">
                <ion-select-option value="A">A</ion-select-option>
                <ion-select-option value="B">B</ion-select-option>
                <ion-select-option value="O">O</ion-select-option>
                <ion-select-option value="AB">AB</ion-select-option>
              </ion-select>
            </ion-item>

            <br>
            <br>

            <div text-center>
                <ion-label class = "question">What's the type of your blood's rhesus?</ion-label>
            </div>
            <ion-item>
              <ion-select [ngModel]="'Rh_positive'" name="rhesus-type">
                <ion-select-option value="Rh_positive">Rh+</ion-select-option>
                <ion-select-option value="Rh_negative">Rh-</ion-select-option>
              </ion-select>
            </ion-item>

            <br>
            <br>
        
            <div text-center>
                <ion-label class = "question"><strong>By clicking this button, <br>you are agreeing to have:</strong><br>your personal data and location data shared and to be contacted by everyone near you.</ion-label><br><br>
                <ion-button (click)="onClick()" class="loginbutton" shape="round" routerLink="/">
                  Sign In
                </ion-button>
            </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
     
  </div>
  
 
</ion-content>
