<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="nearbypeople">
      <ion-icon name="people"></ion-icon>
      <ion-label>Nearby People</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="donorhistory">
      <ion-icon name="clock"></ion-icon>
      <ion-label>Donor History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
