<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon = "arrow-round-back" defaultHref = "/nearbypeople"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-grid fixed>
        <ion-row>
            <ion-col size="12"><br></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col size="10">
            <div text-center>
                <h2 class = "title">Need Help</h2>
            </div>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12"><br></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col size="10">
            <ion-card class = "listcard" routerLink = "/nearbypeople/recipient">
              <ion-item>
                <div slot="start">
                    <br><ion-card-title>Name 1</ion-card-title>
                    <ion-card-content>
                      100 m nearby
                    </ion-card-content>
                </div>
                <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
              </ion-item>
            </ion-card>
  
            <ion-card class = "listcard" routerLink = "/nearbypeople/recipient">
                <ion-item>
                    <div slot="start">
                        <br><ion-card-title>Name 2</ion-card-title>
                        <ion-card-content>
                          150 m nearby
                        </ion-card-content>
                    </div>
                    <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
                </ion-item>
            </ion-card>
              
            <ion-card class = "listcard" routerLink = "/nearbypeople/recipient">
                <ion-item>
                    <div slot="start">
                        <br><ion-card-title>Name 3</ion-card-title>
                        <ion-card-content>
                          200 m nearby
                        </ion-card-content>
                    </div>
                    <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
                </ion-item>
            </ion-card>
  
            <ion-card class = "listcard" routerLink = "/nearbypeople/recipient">
                <ion-item>
                    <div slot="start">
                        <br><ion-card-title>Name 4</ion-card-title>
                        <ion-card-content>
                          250 m nearby
                        </ion-card-content>
                    </div>
                    <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
                </ion-item>
            </ion-card>
          </ion-col>

          <ion-col size="1"></ion-col>
        </ion-row>
    </ion-grid>
  </div>

</ion-content>
