.searchbutton
{
    --background: #B52813;
    --color: #FFFFFF;
    width: 60%;
    height: 60px;
    font-size: 30px;
    letter-spacing: 5px;
}

ion-select
{
    max-width: 100% !important;
    width: 100%;
}

.guideTitle
{
    color: #690b10;
    font-size: 25px;
    letter-spacing: 5px;
}

.guides
{
    color: #770C12;
}
