<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/home/tabs/nearbypeople/donate">
        <ion-icon slot="start" name="pulse" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "content">
    <ion-grid fixed>
        <ion-row>
            <ion-col size="3"></ion-col>
            <ion-col size="6"></ion-col>
            <ion-col size="3"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="10">
              <div text-center>
                <ion-card>
                  <ion-card-header>
                      <ion-card-title class="guideTitle">Quick Guides </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <ion-item>
                      <p>
                          <strong class = "guides">To search people quickly</strong>:<br> press <strong>SEARCH</strong> button immediately.<br>
                      </p>
                    </ion-item>  
                    <ion-item>
                      <p>
                          <strong class = "guides">To search people with different blood type from the registered blood type</strong>:<br> press <strong>CONFIGURE</strong> first, then press <strong>SEARCH</strong>.
                      </p>
                    </ion-item>
                  </ion-card-content>
                </ion-card>
               <br>
                <ion-label>What type of blood you are looking for?</ion-label><br>
                <ion-button (click)="typeFirstChoice()" shape="round">
                  Configure
                </ion-button>
                <br><br>
                <ion-label><strong>Press this button to search people near you</strong></ion-label><br>
                <!-- replace w/ (click)="checkGPSPermission()" when testing to mobile -->
                <ion-button (click)="getLoc()" shape="round" class="searchbutton"
                >
                  SEARCH
                </ion-button>
              </div>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
    </ion-grid>
  </div>
</ion-content>
