// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-font-family: 'Nunito Sans', sans-serif;

  --ion-color-primary: #B52813; 
  --ion-color-primary-rgb: 181,40,19; 
  --ion-color-primary-contrast: #ffffff; 
  --ion-color-primary-contrast-rgb: 255,255,255; 
  --ion-color-primary-shade: #9f2311; 
  --ion-color-primary-tint: #bc3e2b; 
  
  --ion-color-secondary: #770C12; 
  --ion-color-secondary-rgb: 119,12,18; 
  --ion-color-secondary-contrast: #ffffff; 
  --ion-color-secondary-contrast-rgb: 255,255,255; 
  --ion-color-secondary-shade: #690b10; 
  --ion-color-secondary-tint: #85242a; 
  
  --ion-color-tertiary: #FFC02A; 
  --ion-color-tertiary-rgb: 255,192,42; 
  --ion-color-tertiary-contrast: #000000; 
  --ion-color-tertiary-contrast-rgb: 0,0,0; 
  --ion-color-tertiary-shade: #e0a925; 
  --ion-color-tertiary-tint: #ffc63f; 
  
  --ion-color-success: #f25454; 
  --ion-color-success-rgb: 242,84,84; 
  --ion-color-success-contrast: #000000; 
  --ion-color-success-contrast-rgb: 0,0,0; 
  --ion-color-success-shade: #d54a4a; 
  --ion-color-success-tint: #f36565; 

  --ion-color-warning: #FFB000; 
  --ion-color-warning-rgb: 255,204,0; 
  --ion-color-warning-contrast: #000000; 
  --ion-color-warning-contrast-rgb: 0,0,0; 
  --ion-color-warning-shade: #e0b400; 
  --ion-color-warning-tint: #ffd11a; 
  
  --ion-color-danger: #f04141; 
  --ion-color-danger-rgb: 245,61,61; 
  --ion-color-danger-contrast: #ffffff; 
  --ion-color-danger-contrast-rgb: 255,255,255; 
  --ion-color-danger-shade: #d33939; 
  --ion-color-danger-tint: #f25454; 
  
  --ion-color-dark: #222428; 
  --ion-color-dark-rgb: 34,34,34; 
  --ion-color-dark-contrast: #ffffff; 
  --ion-color-dark-contrast-rgb: 255,255,255; 
  --ion-color-dark-shade: #1e2023; 
  --ion-color-dark-tint: #383a3e; 
  
  --ion-color-medium: #989aa2; 
  --ion-color-medium-rgb: 152,154,162; 
  --ion-color-medium-contrast: #ffffff; 
  --ion-color-medium-contrast-rgb: 255,255,255; 
  --ion-color-medium-shade: #86888f; 
  --ion-color-medium-tint: #a2a4ab; 
  
  --ion-color-light: #f4f5f8; 
  --ion-color-light-rgb: 244,244,244; 
  --ion-color-light-contrast: #000000; 
  --ion-color-light-contrast-rgb: 0,0,0; 
  --ion-color-light-shade: #d7d8da; 
  --ion-color-light-tint: #f5f6f9;
}